

body#myblog {
	font-family:方正姚体;
	background-color:#FFFFFF;
}

div#bg
{
	width: 1024px;
	height: 3072px;
	margin: 0 auto;
	background-color: #DDD;
}
div#header 
{
	height:100px;
	text-align:center;
	background-color:#BBBBBB;
}
div#left 
{
	background-color:#EEEEEE;
	height:2900px;
	width:320px;
	float:left;
	text-align:center;
}
div#right 
{
	background-color: #DDD;
	height:2900px;
	width:704px;
	float:left;
	text-align:center;
}
div#footer 
{
	height:72px;
	background-color:#BBBBBB;
	clear:both;
	text-align:center;
}
/*************网站的整体框架.*************/



/*头部样式*/
div#header_img
{	
	height:30px;
	width:704px;
	background-color:#AAAAAA;

	position: absolute;
	margin-top: 70px;
	margin-left: 320px;

}







